* {
	background-color: var(--theme);
}

.search-bar {
	display: flex;
	align-items: center;
	min-width: 350px;
	width: 85vw;
	margin: 10px auto;
	border-radius: 10px;
	border: 2px solid var(--se_primary);
}

.search-bar input[type="search"] {
	flex: 1;
	border: none;
	padding: 10px;
	font-size: 16px;
	outline: none;
	border-radius: 10px;
	width: 100%;
}

.search-bar input[type="search"]::placeholder {
	color: #999;
}

.doc-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 85%;
	margin: auto;
	border: #999 2px solid;
	padding: 10px;
	margin-bottom: 10px;
}

.left-box,
.right-box {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.doc-name {
	margin-left: 5px;
	font-size: 17px;
}

.doc-date {
	margin-right: 5px;
	font-size: 17px;
}

.add-doc {
	border: 1px solid #000;
	width: 85%;
	margin: auto;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px !important;
}

.add-doc form {
	font-size: 17px !important;
}

.add-doc form button {
	margin-right: 50%;
	margin-left: 50%;
	height: 5vh;
	width: 10vh;
}

.footer-div {
	margin-top: 150px;
	width: 100%;
	padding: 100px 15%;
	background: var(--se_primary);
	color: var(--white);
	display: flex;
}

.footer-div div {
	text-align: center;
}

.col-2 {
	flex-grow: 2;
}

.footer-div div h3 {
	font-weight: 300;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

.col-2 a {
	display: block;
	text-decoration: none;
	color: var(--white);
	margin-bottom: 10px;

}