/* search bar */
.search-bar {
	display: flex;
	align-items: center;
	min-width: 350px;
	margin: 10px;
	background-color: var(--theme);
	border-radius: 10px;
	border: 2px solid var(--se_primary);
}

.search-bar input[type="search"] {
	flex: 1;
	border: none;
	padding: 10px;
	font-size: 16px;
	outline: none;
	border-radius: 10px;
}

.search-bar input[type="search"]::placeholder {
	color: #999;
}

.doc-box {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 85%;
	margin: auto;
	border: #999 2px solid;
	padding: 5px 10px;
}

.left-box, .right-box {
	display: flex;
    flex-direction: row;
	align-items: center;
}