#body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.imgcontainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#backgroundimg1,
#backgroundimg2 {
    width: 35%;
    height: 100vh;
}

#logo {
    margin-top: 10px;
    width: 30vh;
}

#texttopform {
    text-align: center;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container form .details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh;
}

form .details .input-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.details .input-box input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}