@font-face {
	font-family: domine;
	src: url(domine-regular.woff);
}

:root {
	--text: #111;
	--white: #fff;
	--primary: #3A4D39;
	--se_primary: #739072;
	--theme: #ECE3CE;
}


.icon {
	width: 40px;
	height: 40px;
}

.header-div {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
	border-bottom: var(--primary) 3px solid;
	padding-bottom: 10px;
	margin: 10px;
}

.logo-div {
	display: flex;
	align-items: center;
}

.circle-logo {
	width: 50px;
}
.name-logo {
	height: 25px;
	margin-left: 10px;
}

.body-div {
	margin: 10px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.content {
	max-width: 500px;
	margin: auto;
}

/* CSS */
.button {
  background-color: var(--white);
  border: 2px solid var(--primary);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--primary);
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
	box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
	transition: box-shadow .2s;
}

.button:active {
	background-color: var(--se_primary);
	border-color: var(--theme);
	color: var(--theme);
	transform: scale(.96);
}

.button:disabled {
	border-color: var(--theme);
	color: #DDDDDD;
	cursor: not-allowed;
	opacity: 1;
}

.se_button {
  background: var(--se_primary);
  border: 2px solid var(--primary);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  min-height: 40px;
  outline: 0;
  padding: 10px 20px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.se_button:hover,
.se_button:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--primary);
}

.se_button:active {
  opacity: .5;
}

/* Header */

.header-navigation {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the navigation to the right */
}

.header-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 20px;
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
  padding: 0px 15px;
  border-radius: 5px;
}

.header-navigation a:hover {
  color: var(--theme);
  background-color: var(--se_primary); 
}
