* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-div {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
}

.body-div .description {
    display: inline-block;
}

.body-div .description .text-box {
    width: 50%;
    float: left;
}

.body-div .description .text-box h2 {
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.body-div .description .text-box h2 span {
    color: var(--se_primary);
    font-size: 1.2em;
    font-weight: 900;
}

.body-div .description .text-box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}

.body-div .description .text-box button {
    margin-bottom: 50px;
    margin-left: 40%;
    margin-top: 20px;
}

.body-div .description .img-box {
    width: 40%;
    height: 50%;
    float: right;
    padding-right: 50px;
    margin-top: 50px;
}

.body-div .description .img-box img {
    max-width: 400px;
}

.body-div .func {
    display: flex;
    position: absolute;
    margin-top: 33em;

    width: 800px;
    height: 500px;
    background: var(--black);
    padding-bottom: 50px;
}

.body-div .func h2 {
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
}

.body-div .func .slide {
    z-index: 1;
    position: absolute;
    width: 100%;
    margin-left: 200px;
    margin-top: 70px;
    clip-path: circle(0% at 0 50%);
}

.body-div .func .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}

.body-div .func .slide img {
    z-index: 1;
    width: 100%;
    border-radius: 10px;
}

.body-div .func .slide .info {
    position: absolute;
    top: 0;
    padding: 15px 30px;
}

.body-div .func .slide .info h3 {
    font-size: 35px;
    font-weight: 520;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.body-div .func .slide .info p {
    background: rgba(255, 255, 255, 0.649);
    font-size: 18px;
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
}

.body-div .func .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 50px;
    left: 75%;
    transform: translateX(-50%);
}

.body-div .func .navigation .btn {
    background: rgba(152, 152, 152, 0.649);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.body-div .func .navigation .btn.active {
    background: var(--primary);
    box-shadow: 0 0 2px rgba(124, 124, 124, 0.5);
}

.body-div .about-us {
    display: inline-block;
    position: absolute;
    margin-top: 65em;

    height: 500px;
    background: var(--black);
    padding-bottom: 50px;
}

.body-div .about-us .general h2 {
    font-size: 2.5em;
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 15px;
}

.body-div .about-us .general p {
    margin-top: 10px;
    margin-right: 150px;
    font-size: 1.1em;
    text-align: justify;
    text-justify: inter-word;
}

.body-div .about-us .container {
    display: flex;
}

.body-div .about-us .container .card {
    height: 350px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
}

.body-div .about-us .container .card img {
    height: 350px;
    width: 230px;
    transition: 1s;
}

.body-div .about-us .container .card .text {
    height: 50px;
    width: 230px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    text-align: justify;
    text-justify: inter-word;
    bottom: -12px;
    background: rgba(27, 27, 27, 0.5);
    border-radius: 5px;
    color: var(--white);
    transition: 0.5s;
}

.body-div .about-us .container .card .text h3 {
    margin: 10px;
    font-size: 20px;
}

.body-div .about-us .container .card .text p {
    font-size: 15px;
    margin: 10px;
    visibility: hidden;
    opacity: 0;
}

.body-div .about-us .container .card:hover {
    cursor: pointer;
}

.body-div .about-us .container .card:hover .text {
    height: 200px;
    bottom: -11px;
    background: rgba(27, 27, 27, 0.5);
}

.body-div .about-us .container .card:hover p {
    opacity: 1;
    visibility: visible;
}

.body-div .about-us .container .card:hover img {
    transform: scale(1.1) rotate(-3deg);
}