<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Edit document</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/edit.css" th:href="@{/css/edit.css}">
	<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css" th:href = @{https://cdn.quilljs.com/1.3.6/quill.snow.css}>
	<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.core.css" th:href="@{https://cdn.quilljs.com/1.3.6/quill.core.css}">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="header-div">
		<div class="icon-container logo-div">
			<img class="circle-logo" src="../static/logo/circle.png" th:src="@{/logo/circle.png}" alt="logo">
			<img class="name-logo" src="../static/logo/name.png" th:src="@{/logo/name.png}" alt="logo">
		</div>
		<nav class="header-navigation">
			<div>
				Premium
			</div>
			<a href="../account/" class="account-link">Account</a>
			<a href="../" class="logout-link">Log Out</a>
		</nav>
	</div>
	<div class="body">
		<div id="editor">
			text will go here
		</div>
	</div>
	<!-- <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js" th:src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script> -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js" th:src="@{https://cdn.quilljs.com/1.3.6/quill.js}"></script>
	<script type="module" src="../static/js/edit.js" th:src="@{js/edit.js}"></script>
</html>