<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Edit document</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/edit.css" th:href="@{/css/edit.css}">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="header-div">
		<div class="icon-container logo-div">
			<img class="circle-logo" src="" th:src="@{/logo/circle.png}" alt="logo">
			<img class="name-logo" src="" th:src="@{/logo/name.png}" alt="logo">
		</div>
		<nav class="header-navigation">
			<a href="#" class="account-link">Account</a>
			<a href="#" class="logout-link">Log Out</a>
		</nav>
	</div>


	<script defer src="" th:src="@{js/edit.js}"></script>

</html>