<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel="stylesheet" href="resource/css/style.css">
    <link rel="stylesheet" href="resource/css/error.css">
    <script defer src="resource/js/error.js"></script>
</head>

<body>
    <div id="header">

    </div>
    <h1>404 Error Page</h1>
    <section class="error-container">
        <span class="four"><span class="screen-reader-text">4</span></span>
        <span class="zero"><span class="screen-reader-text">0</span></span>
        <span class="four"><span class="screen-reader-text">4</span></span>
    </section>
    <div class="link-container">
        <a target="_blank" href="/homepage.html" class="more-link">Return to homepage</a>
    </div>
</body>

</html>