<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Homepage</title>
	<link rel="stylesheet" href="" th:href = "@{/css/style.css}">
	<link rel="stylesheet" href="" th:href = "@{/css/homepage.css}">
	
</head>

<body>
	<div class="header-div">
		<div class="icon-container logo-div">
			<img class="circle-logo" src="" th:src ="@{/logo/circle/png/logo-no-background.png}" alt="logo">
			<img class="name-logo" src="" th:src = "@{/assest/name/png/logo-no-background.png}" alt="logo">
		</div>
		<nav class="header-navigation">
			<a href="#" class="account-link">Account</a>
			<a href="#" class="logout-link">Log Out</a>
		</nav>
	</div>
	

	<div class="body-div">
		<div class="search-bar">
			<input type="search" placeholder="Search..." id="search" item-search>
		</div>

		<div class="doc-container">
			<div class="doc-box">
				<div class="left-box">
					<img class="doc-logo" src="../static/assest/icon/doc.png" alt="document logo">
					<p class="doc-name">test doc</p>
				</div>

				<div class="right-box">
					<p class="doc-date">10/11/2023</p>
					<img class="delete-logo" src="../static/assest/icon/delete.png" alt="delete logo">
				</div>
			</div>

			<template doc-template>
				<div class="doc-box">
					<div class="left-box">
						<img class="doc-logo" src="resource/assest/icon/doc.png" alt="document logo">
						<p class="doc-name"></p>
					</div>
	
					<div class="right-box">
						<p class="doc-date"></p>
						<img class="delete-logo" src="resource/assest/icon/delete.png" alt="delete logo">
					</div>
				</div>
			</template>
		</div>
	</div>

	<script defer src="" th:src ="@{js/homepage.js}"> </script>
</body>

</html>