<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Homepage</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/homepage.css" th:href="@{/css/homepage.css}">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="header-div">
		<div class="icon-container logo-div">
			<img class="circle-logo" src="../static/logo/circle.png" th:src="@{/logo/circle.png}" alt="logo">
			<img class="name-logo" src="../static/logo/name.png" th:src="@{/logo/name.png}" alt="logo">
		</div>
		<nav class="header-navigation">
			<a href="#" class="account-link">Account</a>
			<a href="#" class="logout-link">Log Out</a>
		</nav>
	</div>

	<div class="body-div">

		<div class="search-bar">
			<input type="search" placeholder="Search..." id="search" item-search>
		</div>

		<div class="add-doc">
			<form action="/api/files/upload" method="post" enctype="multipart/form-data">
				<div class="add-doc-form">
					<label for="file">Choose a .doc or .docx file:</label>
					<input type="file" name="file" id="file" accept=".doc, .docx" required>
				</div>
				<button type="submit">Upload</button>
			</form>
		</div>

		<div class="doc-container">
			<div class="doc-box">
				<div class="left-box">
					<i class="fa-regular fa-file fa-xl" alt="file icon"></i>
					<p class="doc-name">test doc</p>
				</div>

				<div class="right-box">
					<p class="doc-date">10/11/2023</p>
					<i class="fa-regular fa-trash-can fa-xl" alt="delete icon"></i>
				</div>
			</div>

			<template doc-template>
				<div class="doc-box">
					<div class="left-box">
						<i class="fa-regular fa-file fa-xl" alt="file icon"></i>
						<p class="doc-name"></p>
					</div>

					<div class="right-box">
						<p class="doc-date"></p>
						<i class="fa-regular fa-trash-can fa-xl" alt="delete icon"></i>
					</div>
				</div>
			</template>
		</div>
	</div>

	<script defer src="" th:src="@{js/homepage.js}"> </script>
</body>

</html>