<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
</head>

<body>
	<div id="body">
		<div class="container">
			<div class="imgcontainer">
				<img id="backgroundimg1" src="..\static\image\login-background-2.jpeg"
					th:src="@{/image/login-background-2.png}" alt="">
				<div class="infocontainer">
					<img id="logo" src="..\static\logo\full.png" th:src="@{/logo/full.png}" alt="">
					<form action="" method="post">
						/* toggle change button */
						<div class="button-box">
							<div class="btn"></div>
							<button type="button" class="toggle-btn" onclick="leftClick()">Log In</button>
							<button type="button" class="toggle-btn" onclick="rightClick()">Sign In</button>

							/* log in section */
							<div class="login-container">
								<div class="input-box">
									<input type="text" placeholder="Enter Email/Phone No." name="username" required>
								</div>
								<div class="input-box">
									<input type="password" placeholder="Password" name="password" required>
								</div>
								<button class="se-button" type="submit">Log In</button>
							</div>

							/* sign in section */
							<div class="signin-container">
								<div class="input-box">
									<span class="detail">Email/Phone Number</span>
									<input type="email_text" placeholder="Enter Your Email/Phone Number" required>
								</div>

								<div class="input-box">
									<span class="detail">Username</span>
									<input type="text" placeholder="Choose Your Username" required>
								</div>

								<div class="input-box">
									<span class="detail">Password</span>
									<input type="text" placeholder="Enter Your Password" required>
								</div>

								<div class="input-box">
									<span class="detail">Confirm Password</span>
									<input type="text" placeholder="Confirm Your Password" required>
								</div>

								<div class="input-box">
									<span class="detail">First Name</span>
									<input type="text" placeholder="Enter Your First Name" required>
								</div>

								<div class="input-box">
									<span class="detail">Last Name</span>
									<input type="text" placeholder="Enter Your Last Name" required>
								</div>

								<button class="se_button" type="submit">Sign In</button>
							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type = "module" src="../static/js/firebase.js" th:src ="@{js/firebase.js}"></script>
	<script type = "module" src="../static/js/login.js" th:src="@{js/login.js}"></script>
</body>

</html>