<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="container">
		<input type="checkbox" id="flip">
		<div class="cover">
			<div class="front">
				<img src="../static/image/Login.jpg" th:src="@{/image/Login.jpeg}" alt="">
			</div>
			<div class="back">
				<img class="backImg" src="../static/image/Login.jpg" th:src="@{/image/login.jpeg}" alt="">
			</div>
		</div>
		<div class="forms">
			<div class="form-content">
				<div class="login-form">
					<div class="title">Log in</div>
					<form action="#">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input id="txtEmail" type="text" placeholder="Email" name="email" required>
							</div>
							<div class="input-box">
								<i class="fas fa-lock"></i>
								<input id="txtPassword" type="password" placeholder="Password" required>
								<img id="eye-icon" src="/src/main/resources/static/image/eye-close.png" alt="">
							</div>
							<button id="btnLogin" type="button" class="se_button">Log in</button>
							<div class="text sign-up-text">Don't have an account? <label for="flip">Sign up now</label>
							</div>
						</div>
					</form>
				</div>
				<div class="signup-form">
					<div class="title">Sign up</div>
					<form action="#">
						<div class="input-boxes">
							<div class="input-box">
								<i class="fas fa-user"></i>
								<input id="firstNameSignUp" type="text" placeholder="First name" required>
							</div>
							<div class="input-box">
								<i class="fas fa-user"></i>
								<input id="lastNameSignUp" type="text" placeholder="Last name" required>
							</div>
							<div class="input-box">
								<i class="fa fa-phone"></i>
								<input id="phoneSignUp" type="tel" pattern="[0-9]{10}" placeholder="Phone number"
									required>
							</div>
							<div class="input-box">
								<i class="fas fa-envelope"></i>
								<input id="emailSignUp" type="text" placeholder="Email" required>
							</div>
							<div class="input-box">
								<i class="fas fa-lock"></i>
								<input id="passwordSignUp" type="password" placeholder="Password" required>
								<img id="eye-icon" src="/src/main/resources/static/image/eye-close.png" alt="">
							</div>
							<button id="btnSignUp" type="button" class="se_button">Sign Up</button>
							<div class="text sign-up-text">Already have an account? <label for="flip">Log in now</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="module" src="../static/js/firebase.js" th:src="@{js/firebase.js}"></script>
	<script type="module" src="../static/js/login.js" th:src="@{js/login.js}"></script>
</body>

</html>