<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" href="../static/css/style.css">
	<link rel="stylesheet" href="../static/css/login.css">
	<script src="https://kit.fontawesome.com/94b9d6322d.js" crossorigin="anonymous"></script>
</head>
<body>
	<div id="body">
		<div class="imgcontainer">
			<!-- <img id="backgroundimg1" src="../static/assest/image/login-background-1.jpeg" alt=""> -->
			<img id="backgroundimg2" src="../static/image/login-background-2.jpeg" alt="">
		</div>
		<form action="action_page.php" method="post">
			<div id="texttopform">
				<h2>Agent Login</h2>
				<p>Enter your detail to login</p>
			</div>
			<div class="container">
				<input type="text" placeholder="Enter Email/Phone No" name="uname" required>
				<input type="password" placeholder="Password" name="psw" required>

				<button class="button" type="submit">Login</button>
			</div>
		</form>
	</div>
	
	<script defer src="" th:src ="@{js/login.js}"></script>
</body>

</html>